<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cargos section</title>
</head>
<body>
<h1>SpedyszynSite</h1>
<a th:href="@{/users}">Users</a>
<a th:href="@{/professions}">Professions</a>
<a th:href="@{/cargos}">Cargos</a>
<a th:href="@{/companies}">Companies</a>
<h3>Cargo Update</h3>

<p th:text="'Current name: ' + ${cargo.getName()}"></p>
<p th:text="'Current description: ' + ${cargo.getDescription()}"></p>


<form action="#" th:action="@{/cargos/update}" method="post">
    <p>New name: <input type="text" name="newName" th:value="${cargo.getName()}"></p>
    <p>New description: <input type="text" name="newDescription" th:value="${cargo.getDescription()}"></p>
    <input type="hidden" th:value="${cargo.getName()}" name="oldName">
    <p><input type="submit" value="Update"></p>
</form>

<a href="#" onclick="history.go(-1)">Go Back</a>

</body>
</html>