<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <title>Cargos section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th class="active"><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Cargo Update</h3>

<p th:text="'Current name: ' + ${cargo.getName()}"></p>
<p th:text="'Current description: ' + ${cargo.getDescription()}"></p>


<form action="#" th:action="@{/cargos/update}" method="post">
    <p>New name: <input type="text" name="newName" th:value="${cargo.getName()}"></p>
    <p>New description: <input type="text" name="newDescription" th:value="${cargo.getDescription()}"></p>
    <input type="hidden" th:value="${cargo.getName()}" name="oldName">
    <p><input type="submit" value="Update"></p>
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>