<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <title>Vehicle section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th class="active"><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>
<h3>Vehicle Update</h3>

<p th:text="'Current name: ' + ${vehicle.getName()}"></p>
<p th:text="'Current power: ' + ${vehicle.getPower()}"></p>
<p th:text="'Current production year: ' + ${vehicle.getProductionYear()}"></p>

<form action="#" th:action="@{/vehicles/update}" method="post">
    <p>New name: <input type="text" name="newName" th:value="${vehicle.getName()}"></p>
    <p>New power: <input type="text" name="newPower" th:value="${vehicle.getPower()}"></p>
    <p>New production year: <input type="text" name="newProductionYear" th:value="${vehicle.getProductionYear()}"></p>
    <input type="hidden" th:value="${vehicle.getName()}" name="oldName">
    <p><input type="submit" value="Update"></p>
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>