<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <link rel="stylesheet" href="/menuStyle.css">
    <link rel="stylesheet" href="/dataStyle.css">
    <title>Vehicle section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th class="active"><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>
<h3>Vehicle Update</h3>
<form class="filter" action="#" th:action="@{/vehicles/update}" method="post">
    <ol>
        <li>Name:
            <ul>
                <li>
                    <input type="text" name="newName" th:value="${vehicle.getName()}">
                </li>
            </ul>
        </li>
        <li>Power:
            <ul>
                <li>
                    <input type="text" name="newPower" th:value="${vehicle.getPower()}">
                </li>
            </ul>
        </li>
        <li>Production year:
            <ul>
                <li>
                    <input type="text" name="newProductionYear" th:value="${vehicle.getProductionYear()}">
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <input type="submit" value="Update vehicle">
                </li>
            </ul>
        </li>
    </ol>
    <input type="hidden" th:value="${vehicle.getName()}" name="oldName">
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>