<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <title>Refuelings section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th class="active"><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Refueling Update</h3>

<p th:text="'Current amount: ' + ${refueling.getAmount()}"></p>
<p th:text="'Current price per litre: ' + ${refueling.getPricePerLitre()}"></p>
<p th:text="'Current country: ' + ${refueling.getCountry()}"></p>
<p th:text="'Current city: ' + ${refueling.getCity()}"></p>
<p th:text="'Current date: ' + ${refueling.getRefuelDate()}"></p>

<form action="#" th:action="@{/refuelings/update}" method="post">
    <p>New amount: <input type="text" name="newAmount" th:value="${refueling.getAmount()}"></p>
    <p>New price per litre: <input type="text" name="newPricePerLitre" th:value="${refueling.getPricePerLitre()}"></p>
    <p>New country: <input type="text" name="newCountry" th:value="${refueling.getCountry()}"></p>
    <p>New city: <input type="text" name="newCity" th:value="${refueling.getCity()}"></p>
    <p>New date: <input type="date" name="newRefuelDate" th:value="${refueling.getRefuelDate()}"></p>
    <input type="hidden" th:value="${refueling.getId()}" name="oldId">
    <p><input type="submit" value="Update"></p>
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>