<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accidents section</title>
</head>
<body>
<h1>SpedyszynSite</h1>
<a th:href="@{/users}">Users</a>
<a th:href="@{/professions}">Professions</a>
<a th:href="@{/cargos}">Cargos</a>
<a th:href="@{/companies}">Companies</a>
<a th:href="@{/vehicles}">Vehicles</a>
<a th:href="@{/refuelings}">Refuelings</a>
<a th:href="@{/employees}">Employees</a>
<a th:href="@{/deliveries}">Deliveries</a>
<h3>Accidents</h3>
<br>
<table>
    <tr>
        <th colspan="9">Chosen delivery</th>
    </tr>
    <tr>
        <th>From company</th>
        <th>To company</th>
        <th>Driver</th>
        <th>Vehicle</th>
        <th>Cargo</th>
        <th>Weight</th>
        <th>Start date</th>
        <th>Finish date</th>
        <th>Is finished</th>
    </tr>

    <tr>
        <td th:text="${delivery.getFromCompanyName()}"></td>
        <td th:text="${delivery.getToCompanyName()}"></td>
        <td th:text="${delivery.getEmployeeFirstName() + ' ' + delivery.getEmployeeLastName()}"></td>
        <td th:text="${delivery.getVehicleName()}"></td>
        <td th:text="${delivery.getCargoName()}"></td>
        <td th:text="${delivery.getWeight()}"></td>
        <td th:text="${delivery.getStartDate()}"></td>
        <td th:text="${delivery.getFinishDate()}"></td>
        <td th:text="${delivery.getIsFinished()}"></td>
    </tr>
</table>
<br>
<p>New accident for this delivery</p>
<form action="#" th:action="@{/accidents/create}" method="post">
    <p>Date: <input type="date" name="eventDate"></p>
    <p>Description: <input type="text" name="description"></p>
    <input type="hidden" name="deliveryId" th:value="${delivery.getDeliveryId()}">
    <input type="submit" value="Create">
</form>
</body>
</html>