
* {
    font-family: "Lato", serif;
    color: black;
}

body {
    background-color: lightslategray;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    padding: 40px;
    font-size: 40px;
}

p {
    text-align: center;
}
a{
    text-align: center;
    color: #600058;
}

a:link {
    text-decoration: none;
    color: #600058;
}

a:visited {
    text-decoration: none;
    color: #600058;
}

a:hover {
    text-decoration: none;
    color: hotpink;
}

a:active {
    color: #600058;
    text-decoration: none;
}
