<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <title>Complaints section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table>
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th class="active"><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Complaints</h3>

<form action="#" th:action="@{/employees/complaint}" method="post">
    <p>First name: <input type="text" th:value="${employee.getFirstName()}" readonly></p>
    <p>Last name: <input type="text" th:value="${employee.getLastName()}" readonly></p>
    <p>Company: </p>
    <p th:each="company, stat : ${companies}">
        <input type="radio" th:id="${company.getName()}"
            th:name="'newCompanyId'"
            th:value="${company.getId()}">
        <label th:for="${company.getId()}"
               th:text="${company.getName()}"></label>
    </p>
    <p>Description: <input type="text" name="newDescription"></p>
    <input type="hidden" name="newEmployeeId" th:value="${employee.getEmployeeId()}">
    <p><input type="submit" value="Create"></p>
</form>

</body>
</html>