<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <link rel="stylesheet" href="/menuStyle.css">
    <link rel="stylesheet" href="/dataStyle.css">
    <title>Users section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th class="active"><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Users Update</h3>

<form class="filter" action="#" th:action="@{/users/update}" method="post">
    <ol>
        <li>Login:
            <ul>
                <li>
                    <input type="text"  name="newLogin" th:value="${user.getLogin()}">
                </li>
            </ul>
        </li>
        <li>Password:
            <ul>
                <li>
                    <input type="text"  name="newPassword" th:value="${user.getPassword()}">
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <input type="submit" value="Update user">
                </li>
            </ul>
        </li>
    </ol>
    <input type="hidden" th:value="${user.getLogin}" name="oldLogin">
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>