<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <title>Users section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th class="active"><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Users Update</h3>

<p th:text="'Current login: ' + ${user.getLogin()}"></p>
<p th:text="'Current password: ' + ${user.getPassword()}"></p>


<form action="#" th:action="@{/users/update}" method="post">
    <p>New login: <input type="text"  name="newLogin" th:value="${user.getLogin()}"></p>
    <p>New password: <input type="text"  name="newPassword" th:value="${user.getPassword()}"></p>
    <input type="hidden" th:value="${user.getLogin}" name="oldLogin">
    <p><input type="submit" value="Update"></p>
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>