<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <link rel="stylesheet" href="/menuStyle.css">
    <link rel="stylesheet" href="/dataStyle.css">
    <title>Users section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th class="active"><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Professions</h3>
<h4 th:if="${message != null}" th:text="${message}"></h4>

<table class="data">
    <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Min. salary</th>
        <th>Max. salary</th>
        <th colspan="2">Action</th>
    </tr>

    <tr th:each="profession, stat : ${professions}">
        <td th:text="${stat.count}"></td>
        <td th:text="${profession.getTitle()}"></td>
        <td th:text="${profession.getMinSalary()}"></td>
        <td th:text="${profession.getMaxSalary()}"></td>
        <td class="click">
            <form action="#" th:action="@{/professions}" method="post">
                <input type="hidden" th:value="${profession.getTitle()}" name="deleteTitle" >
                <input type="submit" value="Delete" onclick="window.alert('Are you sure?\n All data connected to that profession will be lost.')">
            </form>
        </td>
        <td class="click">
            <form action="#" th:action="@{/professions/update}" method="get">
                <input type="hidden" th:value="${profession.getTitle()}" name="title">
                <input type="submit" value="Update title and/or salaries">
            </form>
        </td>
    </tr>
    <tr>
        <td class="click" colspan="6">
            <form action="#" th:action="@{/professions/increase}" method="get">
                <input type="submit" value="Increase pay range for all by annual inflation (~3%)">
            </form>
        </td>
    </tr>
    <tr>
        <td class="click" colspan="6">
            <form action="#" th:action="@{/professions/create}" method="get">
                <input type="submit" value="Create new profession">
            </form>
        </td>
    </tr>
</table>


</body>
</html>