<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <link rel="stylesheet" href="/menuStyle.css">
    <link rel="stylesheet" href="/dataStyle.css">
    <title>Profession section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th class="active"><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Profession Creation</h3>

<form class="filter" action="#" th:action="@{/professions/create}" method="post">
    <ol>
        <li>Title:
            <ul>
                <li>
                    <input type="text" name="title">
                </li>
            </ul>
        </li>
        <li>Min. salary:
            <ul>
                <li>
                    <input type="text" name="minSalary">
                </li>
            </ul>
        </li>
        <li>Max. salary:
            <ul>
                <li>
                    <input type="text" name="maxSalary">
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <input type="submit" value="Create profession">
                </li>
            </ul>
        </li>
    </ol>
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>