<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <title>Profession section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th class="active"><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Profession Update</h3>

<p th:text="'Current title: ' + ${profession.getTitle()}"></p>
<p th:text="'Current min. salary: ' + ${profession.getMinSalary()}"></p>
<p th:text="'Current max. salary: ' + ${profession.getMaxSalary()}"></p>


<form action="#" th:action="@{/professions/update}" method="post">
    <p>New title: <input type="text" name="newTitle" th:value="${profession.getTitle()}"></p>
    <p>New min. salary: <input type="text" name="newMinSalary" th:value="${profession.getMinSalary()}"></p>
    <p>New max. salary: <input type="text" name="newMaxSalary" th:value="${profession.getMaxSalary()}"></p>
    <input type="hidden" th:value="${profession.getTitle()}" name="oldTitle">
    <p><input type="submit" value="Update"></p>
</form>

<p><a href="#" onclick="history.go(-1)">Go Back</a></p>

</body>
</html>