<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <link rel="stylesheet" href="/menuStyle.css">
    <link rel="stylesheet" href="/dataStyle.css">
    <title>Employees section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th class="active"><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Employees</h3>

<form class="filter" action="#" th:action="@{/employees/search}" method="get">
    <ol>
        <li>Search
            <ul>
                <li>First name:
                    <input type="text" th:value="${firstNamePattern}" name="firstNamePattern">
                </li>
                <li>Last name:
                    <input type="text" th:value="${lastNamePattern}" name="lastNamePattern">
                </li>
                <li>
                    <input type="submit" value="Submit">
                </li>
            </ul>
        </li>
    </ol>
</form>

<table class="data">
    <tr>
        <th>Number</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Action</th>
    </tr>

    <tr th:each="employee, stat : ${employees}">
        <td th:text="${stat.count}"></td>
        <td th:text="${employee.getFirstName()}"></td>
        <td th:text="${employee.getLastName()}"></td>
        <td class="click">
            <form action="#" th:action="@{/employees/specific}" method="get">
                <input type="hidden" th:value="${employee.getEmployeeId()}" name="id">
                <input type="submit" value="Check further info">
            </form>
        </td>
    </tr>
    <tr>
        <td class="click" colspan="4">
            <form action="#" th:action="@{/employees/create}" method="get">
                <input type="submit" value="Create new employee">
            </form>
        </td>
    </tr>
</table>


</body>
</html>