<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/mystyle.css"/>
    <link rel="stylesheet" href="/menuStyle.css">
    <link rel="stylesheet" href="/dataStyle.css">
    <title>Employees section</title>
</head>
<body>
<h1><a th:href="@{/}">SpedyszynSite</a></h1>
<table class="menu">
    <tr>
        <th><a th:href="@{/users}">Users</a></th>
        <th><a th:href="@{/professions}">Professions</a></th>
        <th><a th:href="@{/cargos}">Cargos</a></th>
        <th><a th:href="@{/companies}">Companies</a></th>
        <th><a th:href="@{/vehicles}">Vehicles</a></th>
        <th><a th:href="@{/refuelings}">Refuelings</a></th>
        <th class="active"><a th:href="@{/employees}">Employees</a></th>
        <th><a th:href="@{/deliveries}">Deliveries</a></th>
    </tr>
</table>

<h3>Specific Employee</h3>
<br>
<table class="data">
    <tr>
        <th colspan="2">Employee</th>
    </tr>
    <tr>
        <th>First name</th>
        <td th:text="${employee.getFirstName()}"></td>
    </tr>
    <tr>
        <th>Last name</th>
        <td th:text="${employee.getLastName()}"></td>
    </tr>
    <tr>
        <th>Salary</th>
        <td th:text="${employee.getSalary()}"></td>
    </tr>
    <tr>
        <th>Username</th>
        <td th:text="${userName}"></td>
    </tr>
    <tr>
        <th>Number of complaints</th>
        <td th:text="${numberOfComplaints}"></td>
    </tr>
    <tr>
        <th>Number of deliveries</th>
        <td th:text="${numberOfDeliveries}"></td>
    </tr>
</table>
<form class="filter" action="#" th:action="@{/employees}" method="post">
    <ol>
        <li>
            <ul>
                <li>
                    <input type="hidden" th:value="${employee.getEmployeeId()}" name="id" >
                    <input type="submit" value="Update employee" th:formaction="@{/employees/update}" formmethod="get">
                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>
                    <input type="submit" value="Delete employee" onclick="window.alert('Are you sure?\n All data connected to that employee will be lost.')">
                    <input type="hidden" th:value="${employee.getEmployeeId()}" name="deleteId" >
                </li>
            </ul>
        </li>
    </ol>
</form>
<br>
<table class="data">
    <tr>
        <th colspan="4">Complaints</th>
    </tr>
    <tr>
        <th>Number</th>
        <th>Description</th>
        <th>By</th>
        <th>Action</th>
    </tr>
    <tr th:each="complaint, stat : ${complaints}">
        <td th:text="${stat.count}"></td>
        <td th:text="${complaint.complaint.getDescription()}"></td>
        <td th:text="${complaint.company.getName()}"></td>
        <td class="click">
            <form action="#" th:action="@{/employees/delete_complaint}" method="post">
                <input type="submit" value="Delete">
                <input type="hidden" name="id" th:value="${complaint.complaint.getComplaintId()}">
            </form>
        </td>
    </tr>
    <tr>
        <td class="click" colspan="4">
            <form action="#" th:action="@{/employees/complaint}" method="get">
                <input type="hidden" th:value="${employee.getEmployeeId()}" name="employeeId">
                <input type="submit" value="Create new complaint for this employee" >
            </form>
        </td>
    </tr>
</table>


</body>
</html>