<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies section</title>
</head>
<body>
<h1>SpedyszynSite</h1>
<a th:href="@{/users}">Users</a>
<a th:href="@{/professions}">Professions</a>
<a th:href="@{/cargos}">Cargos</a>
<a th:href="@{/companies}">Companies</a>
<a th:href="@{/vehicles}">Vehicles</a>
<a th:href="@{/refuelings}">Refuelings</a>
<a th:href="@{/employees}">Employees</a>
<a th:href="@{/deliveries}">Deliveries</a>
<h3>Companies Creation</h3>

<form action="#" th:action="@{/companies/create}" method="post">
    <p>New name: <input type="text" name="name"></p>
    <p>New description: <input type="text" name="description" ></p>
    <p>New country: <input type="text" name="country"></p>
    <p>New city: <input type="text" name="city"></p>
    <p>New address: <input type="text" name="address"></p>
    <p><input type="submit" value="Create"></p>
</form>

<a href="#" onclick="history.go(-1)">Go Back</a>

</body>
</html>